{% extends 'layout.html.twig' %}
{% block title %}Add size | Admin Muxu{% endblock %}
{% block content %}
    <h1>Add a new size</h1>
    {% include 'Size/_form.html.twig' %}
    <div class="text-right">
        <a href="/size/index">Back</a>
    </div>
{% endblock %}
