{% extends 'layout.html.twig' %}
{% block title %}Edit size | Admin Muxu{% endblock %}
{% block content %}
    <h1>Edit size {{ size.format }}</h1>
    {% include 'Size/_form.html.twig' %}
    <a href="/size/index" class="btn btn-sm my-2 back-color"><i class="fas fa-list"></i> Return to the list</a><br>
    <a href="/size/show/{{ size.id }}" class="btn btn-sm my-2 back-color">Back</a>
{% endblock %}
