{% extends 'layout.html.twig' %}
{% block title %}Add section | Admin Muxu{% endblock %}
{% block content %}
    <h1>Add a new description on home page</h1>
    {% include 'Header/_form.html.twig' %}
    <div class="text-right">
    </div>
{% endblock %}
