{% extends 'layout.html.twig' %}
{% block title %}List header sections | Admin Muxu{% endblock %}
{% block content %}
<h2 class="display-4">Home</h2>
<div class="text-right my-3">
    <a href="/header/add" class="btn btn-sm plus-color">Add a new section <i class="fas fa-plus-circle"></i></a>
</div>
<table class="table table-responsive{-sm|-md|-lg|-xl} table-bg">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for header in headers %}
        <tr>
            <td>{{ header.title }}</td>
            <td><img src="{{header.url}}" alt="" class="img-fluid" width="150px"></td>
            <td>
                <a href="/header/show/{{ header.id }}" class="btn btn-sm my-2 eye-color"><i
                        class="fas fa-eye logo-eye"></i></a>
                <a href="/header/edit/{{ header.id }}" class="btn btn-sm my-2 edit-color"><i
                        class="fas fa-edit logo-edit"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}