{% extends 'layout_user.html.twig' %}
{% block content %}
<div class="text-center mt-5">
    <h2> Thank you {{userContact.firstname}}, <br> your message has been successfully sent</h2>
    <p>Our customer team will answer you as soon as possible.</p>
</div>

        <div class="container-fluid">
            <img src='https://i.postimg.cc/9FDyMnMZ/undraw-Loving-it-re-jfh4.png' class="img-fluid w-50" />
        </div>
</div>

{% endblock %}