{% extends 'layout_user.html.twig' %}
{% block content %}
<div class="text-center m-5 pt-5">
    <h2> Thank you for subscribing to the Muxu newsletter<br></h2>
    <p>Every week you will discover new inspirations, the latest paintings but also events to meet your favourite artists!<br></p>
    <h1>See You Soon</h1>
</div>
        <div class="container-fluid ml-4">
            <img src='https://i.postimg.cc/KjTg6fq1/undraw-Private-data-re-4eab.png' class="img-fluid w-50" />
        </div>
</div>

{% endblock %}