{% extends 'layout_user.html.twig' %}
{% block title %}Success | Muxu{% endblock %}
{% block content %}
<div class="text-center mt-5">
    <h2> Thank you {{session.firstname}}, <br> your order has been successfully completed</h2>
</div>
<div class="container mt-5">
    <div class="jumbotron menu-account-bg">
        <h3>You can find all order details in your user account</h3>
        <hr class="my-4">
        <a href="/" class="btn button-color">Back To Homepage</a>
        <a href="{{session.transaction.stripe}}" target="_blank" class="btn">Check the stripe invoice</a>
        {% if session.transaction %}
        {% endif %}
    </div>
        <div class="container-fluid">
            <img src='https://i.postimg.cc/TwY0vzgp/undraw-online-transactions-02ka.png' class="img-fluid w-50" />
        </div>
</div>
{% endblock %}