<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/12c728ad22.js" crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300&display=swap" rel="stylesheet">
    <link rel="icon" href="/assets/images/favicon.png">
    <link href="/assets/css/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style_admin.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    {% block stylesheet %}{% endblock %}
</head>

<body>
    <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-darkness border-right" id="sidebar-wrapper">
        <div class="sidebar-heading text-red font-weight-bold title-muxu">MUXU ADMIN</div>
        <div class="list-group-item bg-darkness">
            <a class="list-group-item-action bg-darkness text-black link-hover" href="/security/logout"><i class="fas fa-sign-out-alt text-pumpkin"></i> logout</a><br>
            <a class="list-group-item-action bg-darkness text-black link-hover" href="/" target="_blank"><i class="fas fa-globe text-pumpkin"></i> Check public website</a><br>
        </div><br><br>
        <div class="list-group list-group-flush">
             <a href="/kpi/index"
                class="list-group-item list-group-item-action bg-darkness text-black link-hover"><i
                    class="fas fa-pencil-alt text-pumpkin"></i> Dashboard</a>
            <a href="/command/index"
                class="list-group-item list-group-item-action bg-darkness text-black link-hover"><i
                    class="fas fa-pencil-alt text-pumpkin"></i> Commands</a>
            <a href="/artist/index"
                class="list-group-item list-group-item-action bg-darkness text-black link-hover"><i
                    class="fas fa-pencil-alt text-pumpkin"></i> Artists</a>
            <a href="/product/index"
                class="list-group-item list-group-item-action bg-darkness text-black link-hover"><i
                    class="fas fa-pencil-alt text-pumpkin"></i> Products</a>
            <a href="/image/index"
                class="list-group-item list-group-item-action bg-darkness text-black link-hover"><i
                    class="fas fa-pencil-alt text-pumpkin"></i> Image</a>
            <a href="/header/index"
                class="list-group-item list-group-item-action bg-darkness text-black link-hover"><i
                    class="fas fa-pencil-alt text-pumpkin"></i> Header</a>
            <a href="/category/index"
                class="list-group-item list-group-item-action bg-darkness text-black link-hover"><i
                    class="fas fa-pencil-alt text-pumpkin"></i> Category</a>
            <a href="/size/index"
                class="list-group-item list-group-item-action bg-darkness text-black link-hover"><i
                    class="fas fa-pencil-alt text-pumpkin"></i> Size</a>
            <a href="/shipping/index"
                class="list-group-item list-group-item-action bg-darkness text-black link-hover"><i
                    class="fas fa-pencil-alt text-pumpkin"></i> Shipping</a>
            <a href="/faq/index"
                class="list-group-item list-group-item-action bg-darkness text-black link-hover"><i
                    class="fas fa-pencil-alt text-pumpkin"></i> FAQ</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->
<!-- Page Content -->
<div id="page-content-wrapper">
    <button class="btn btn-lg" id="menu-toggle" onclick="faToggle()"><i class="fas fa-palette text-pumpkin"
            id="fa-toggle"></i></button>
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
</div>
<!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
crossorigin="anonymous"></script>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
crossorigin="anonymous"></script>
<script>
$('#datepicker').datepicker({
    format: 'yyyy-mm-dd',
    weekStart: 1,
    daysOfWeekHighlighted: "6,0",
    autoclose: true,
    todayHighlight: true,
});
$('#datepicker').datepicker("setDate", new Date());
</script>
<!-- Menu Toggle Script -->
<script>
$("#menu-toggle").click(function (e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>
<script>
faToggle = () => {
    var x = document.getElementById("fa-toggle");
    console.log(x.classList.value)
    if (x.classList.value === 'fas fa-palette text-pumpkin') {
        x.classList.value = 'fas fa-swatchbook text-red'
    } else {
        x.classList.value = 'fas fa-palette text-pumpkin'
    }
}
</script>
{% block javascript %}{% endblock %}
</body>

</html>
