{% extends 'layout.html.twig' %}
{% block title %}Add Category | Admin Muxu{% endblock %}
{% block content %}
    <h1>Add a new category</h1>
    {% include 'Category/_form.html.twig' %}
{% endblock %}
