{% extends 'layout.html.twig' %}
{% block title %}Edit FAQ | Admin Muxu{% endblock %}
{% block content %}
    <h1>Edit question and answer</h1>
    {% include 'Faq/_form.html.twig' %}
    <a href="/faq/index" class="btn btn-sm my-2 back-color"><i class="fas fa-list"></i> Return to the list</a><br>
    <a href="/faq/show/{{ faq.id }}" class="btn btn-sm my-2 back-color">Back</a>
{% endblock %}
